<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Test Suite">

    <test name="Regression Tests">

        <classes>
           
             <class name="testingprod.prod.Lumio_co_in"/>
                 <class name="testingprod.prod.LumioStore"/>
                  <class name="testingprod.prod.TvPriceChecker"/>
          
        </classes>

    </test>

</suite>